extends ./layout/common

block content
    h1.d-inline.pf-400px Welcome to the Books Manage!!! 
    
    img(src='/images/logo.png')
    br
    button.btn.btn-outline-danger
        a(href="/books") Books Manage
    br
    button.btn.btn-outline-danger
        a(href='/users') Users Manage 
    br
    button.btn.btn-outline-danger
        a(href='/transactions') Transactions    