extends ./layout/common 

block content
    h1(class='d-inline') Welcome to the Books Manage!!! 
    
    img(src='/images/logo.png')
    br
    button(class="btn btn-outline-danger")
        a(href="/books") Books Manage
    br
    button(class="btn btn-outline-danger")
        a(href='/users') Users Manage 
    br
    button(class="btn btn-outline-danger")
        a(href='/transactions') Transactions    