extends ../layout/common 

block content
    h1 Hello, My name is CreateTRansaction!!!
    button(class="btn btn-outline-warning ml-2")
        a(href='/transactions') HOME
    form(action='/transactions/create',method='POST')
        label Create Transactions:
        br
        select(name='userId',class="custom-select")
            each user in users
                option(value= user.id) #{user.name}
        br
        select(name='bookId',class="custom-select")
            each book in books
                option(value= book.id) #{book.title}
        br
        button(class="btn btn-outline-secondary") Create