extends ../layout/common 

block content
  h1 Hello, My name is UpdatesUser!!!
  button(class="btn btn-outline-warning ml-2")
    a(href="/users") HOME
  form(method="POST" id="1")
      label(for="name") New Name: 
      input(type="text",name='name',class="btn btn-outline-secondary")
      br
      label(for="phone") New Phone: 
      input(type="number",name='phone',class="btn btn-outline-secondary")
      button(class="btn btn-danger ml-3") Update
  script.
    var a= document.getElementById("1");
    a.action= "/users/update" + id;